<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cbf.system.mapper.SysFileFolderMapper">

    <resultMap id="BaseResultMap" type="com.cbf.common.entity.SysFileFolder">
        <id property="id" column="ID"/>
        <result property="name" column="NAME"/>
        <result property="parentId" column="PARENT_ID"/>
        <result property="ancestors" column="ANCESTORS"/>
        <result property="fileType" column="FILE_TYPE"/>
        <result property="path" column="PATH"/>
        <result property="isValid" column="IS_VALID"/>
        <result property="createTime" column="CREATE_TIME"/>
        <result property="updateTime" column="UPDATE_TIME"/>
    </resultMap>

    <sql id="Base_Column_List">
        ID,NAME,PARENT_ID,ANCESTORS,FILE_TYPE,PATH,
        IS_VALID,CREATE_TIME,UPDATE_TIME
    </sql>
</mapper>
